.cardbg{
  background-image: url("/Check-in/images/phil.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-attachment: scroll; 
  background-repeat: no-repeat; 
  background-size: cover;
  /* height: 400px; */
}

.footerCards{
    height: 100px;
    width: 200px;
    /* bottom: -12px; */
    /* overflow: hidden; */
} 

.bold{
  font-weight: bold;
}

.QRsize{
  /* margin-left: 320px; */
  margin-top: -100px;
  width: 150px;
  height: 150px;
}

.indentText{
  text-indent: 20px;
  text-align: left;
}

.underLine
{
  text-decoration-line: underline;
}

#textFont{
  font-size: 20pt;
}

#textFont2{
  font-size: 15pt;
}
.upperCase{
  text-transform: uppercase;
}

#placeholder{
  padding: 30px;
}

#iconbtnSize{
  font-size: 35pt;
} 

.navbar-fixed .nav-wrapper .brand-logo img{
  height:  30px;
  width: 300px;
}

.bottomNav{
  /* overflow: hidden;  */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#marginNav{
  padding-top: 0;
  padding-bottom: 0;
}

/* textarea:focus {
  border-bottom: none!important;
  box-shadow: none!important;
} */