.philbg{
  background-image: url("/Check-in/images/phil.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 400px;
}

.footerCards{
    padding: 10px;
    height: 170px;
    width: 170px;
    position: relative;
    max-width: 220px;
    max-height: 220px;
}

.bold{
  font-weight: bold;
}

.QRsize{
  /* margin-left: 320px; */
  margin-top: -100px;
  width: 150px;
  height: 150px;
}

.indentText{
  text-indent: 20px;
  text-align: left;
}

.underLine
{
  text-decoration-line: underline;
}

#navLogo{
  background-image: url("/Check-in/images/logo.png");
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: 300px 30px; 
  background-position: top;
  background-position-y: 20px;
}

#textFont{
  font-size: 20pt;
}

.upperCase{
  text-transform: uppercase;
}

#placeholder{
  padding: 30px;
}

#iconbtnSize{
  font-size: 35pt;
} 
