.cardbg{
  background-image: url("/Check-in/images/phil.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-attachment: scroll; 
  background-repeat: no-repeat; 
  background-size: cover;
  /* height: 400px; */
}

.footerCards{
    height: 100px;
    width: 200px;
    /* bottom: -12px; */
    /* overflow: hidden; */
} 

.bold{
  font-weight: bold;
}

.QRsize{
  /* margin-left: 320px; */
  margin-top: -100px;
  width: 150px;
  height: 150px;
}

.indentText{
  text-indent: 20px;
  text-align: left;
}

.underLine
{
  text-decoration-line: underline;
}

#textFont{
  font-size: 20pt;
}

#textFont2{
  font-size: 15pt;
}
.upperCase{
  text-transform: uppercase;
}

#placeholder{
  background-color: #ffc400;
  padding: 30px;
}

#iconbtnSize{
  font-size: 35pt;
} 

.navbar-fixed .nav-wrapper .brand-logo img{
  height:  30px;
  width: 300px;
}

.bottomNav{
  /* overflow: hidden;  */
  position: relative; /*fixed*/
  left: 0;
  bottom: 0;
  width: 100%;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#marginNav{
  padding-top: 0;
  padding-bottom: 0;
}

/* Line color for active text box  but not focused*/
input[type=text]:not(.browser-default){
  background-color: transparent;
  border: none;
  border-bottom: 1px solid#ffc400 !important;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

/* Line color for disabled text box */
input[type=text]:not(.browser-default):disabled{
  color: rgba(0, 0, 0, 0.42);
  border-bottom: 1px solid #ffc400 !important;
}

/* Label color when text box is clicked */
input[type=text]:not(.browser-default):focus:not([readonly]) + label{
  color: #ffc400;
}

/* Line color when text box is clicked */
input[type=text]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid red;
  -webkit-box-shadow: 0 1px 0 0 red;
          box-shadow: 0 1px 0 0 red;
}

/* Label color for disabled text box */
input[type=text]:not(.browser-default):disabled + label{
  color: red !important;
}